/* Hoja de estilos global */
/* Recursos importados */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&family=Montserrat:wght@400;600&display=swap');

/* Elementos nativos de HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #e9e9e9;
}

body {
    display: flex;
    flex-direction: column;
}

button, input {
    font-family: 'Chivo', sans-serif;
}

h1, h2, h3, h4, h5 {
    padding-top: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #313131;
}

a {
    text-decoration: none;
    color: #313131;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    cursor: default;
}

tr {
    padding-top: 10px;
    width: 100%;
    color: #313131;
}

th {
    border: solid 1px #313131;
    font-size: larger;
}

td {
    border: solid 1px #313131;
    font-size: large;
    text-align: center;
    padding: 3px 0px;
}

.info-sector-valores:hover {
    cursor: default;
}

tbody tr:not(.info-sector-valores):hover {
    cursor: pointer;
    text-decoration: underline;
}

label {
    color: #313131;
}

details {
    margin-top: 8px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

details:hover {
    cursor: pointer;
}

/* Clases personalizadas */
.invisible {
    display: none;
}

.invisible > * {
    display: none;
}

.titulo {
    font-weight: 600;
    margin: 0;
    margin-left: 15px;
    text-align: left;
}

/* Objeto header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2%;
    background-color: #88ab75;
}

.contenido {
    background-color: #d9d9d9;
    margin: auto;
    padding-bottom: 16px;
    width: 85%;
    box-shadow: 1px 0px 3px rgba(0,0,0,0.2), -1px 0px 3px rgba(0,0,0,0.2);
}

.logo {
    cursor: pointer;
    margin-top: 6px;
    margin-left: 5%;
    margin-right: 0%;
    padding-bottom: 4px;
}

.logo object {
    pointer-events: none;
    height: 90px;
    transition: filter 0.6s ease;
}

.logo object:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(50%) saturate(2830%) hue-rotate(313deg) brightness(101%) contrast(102%);
}

.nav {
    margin: 0%;
}

.div-busqueda-rapida {
    display: flex;
    margin-bottom: 7px;
    justify-content: flex-end;
    width: 100%;
}

#barraBusquedaRapida {
    padding: 5px;
    background-color: #d9d9d9;
    border-radius: 8px;
    border: none;
    font-family: Arial, FontAwesome;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: row;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 18px;
    position: relative;
    text-decoration: none;
}

.nav-links li a::after:not(#perfilContenedor) {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFCC66;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}

.nav-links li a:hover::after:not(#perfilContenedor) {
    transform: scaleX(.75);
    transform-origin: bottom;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    font-family: 'Chivo', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #f2f2f2;
    text-decoration: none;
}

.nav-links li a:hover:not(#nombreUsuario) {
    color: #FFCC66;
}

.nav-links li a .fa,
.nav-links li a .fa-solid,
.nav-links li a .fa-regular {
    padding: 0 8px;
}

#buttonIniciarSesion {
    font-size: 14px;
    margin-left: 14px;
    padding: 9px 10px;
    border-radius: 8px;
    border-color: #d9d9d9;
    border: none;
    color: #303030;
    background-color: #d9d9d9;
    cursor: pointer;
}

#buttonIniciarSesion:hover {
    transition: all 0.3s ease-in-out 0s;
    background-color: #d1d1d1;
}

#buttonIniciarSesion:focus {
    transition: none;
    background-color: #FFCC66;
    border-color: #FFCC66;
    color:#303030;
}

#buttonRegistrarse {
    font-size: 14px;
    margin-left: 10px;
    padding: 8px 10px;
    border: 2px solid #d9d9d9;
    border-radius: 8px;
    color: #f2f2f2;
    background-color: transparent;
    cursor: pointer;
}

#buttonRegistrarse:hover {
    transition: all 0.3s ease-in-out 0s;
    background-color: #d1d1d1;
    color: #303030;
}

#buttonRegistrarse:active {
    transition: none;
    background-color: #FFCC66;
    border-color: #FFCC66;
    color: #303030;
}

#perfilContenedor {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 8px;
    display: flex;
    position: relative;
}

#perfilImagen {
    align-items: flex-end;
    margin-right: 12px;
    height: 32px;
    border: solid 1px #f2f2f2;
    border-radius: 50%;
}

#nombreUsuario {
    color: #f2f2f2;
    font-family: 'Chivo', sans-serif;
    font-size: 28px;
    font-weight: 100;
}

/* Desplegable de iniciar sesión */
#iniciarSesion {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 8px;
}

#iniciarSesion form {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.mostrar-dropdown {
    display: block !important;
    z-index: 1;
}

#contrasenaOlvidada,
#terminosCondiciones,
#iniciaSesionAqui {
    cursor: pointer;
    text-decoration: underline;
}

#contrasenaOlvidada:link,
#terminosCondiciones:link,
#iniciaSesionAqui:link {
    color: blue;
}

#contrasenaOlvidada:visited,
#terminosCondiciones:visited,
#iniciaSesionAqui:visited {
    color: #88ab75;
}

#contrasenaOlvidada:hover,
#terminosCondiciones:hover,
#iniciaSesionAqui:hover {
    color: #88ab75;
}

#contrasenaOlvidada:active,
#terminosCondiciones:active,
#iniciaSesionAqui:active {
    color: blue;
}

#cerrarSesion {
    cursor: pointer;
    color: #f2f2f2;
    background-color: #da190b;
    margin-right: 6px;
    float: right;
    padding: 2px 4px;
    border-color: #24262b;
    border-radius: 4px;
}

#cerrarSesion:hover {
    background-color: #f44336;
}

/* Formulario de registro */
#contenedorPaginaRegistro {
    background: rgba(255, 255, 255, 0.66);
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: none;
}

#contenedorRegistro {
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 10px #808080;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 23%;
}

#contenedorRegistroTitulo h2 {
    width: 75%;
    display: inline-block;
}

#contenedorRegistroTitulo label {
    display: inline-block;
}

#contenedorRegistro form {
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    width: 82%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

form input {
    margin: 2px 0;
}

form input:not(#checkContrasena, #checkTerminos) {
    margin: 5px 0;
    padding: 6px 0;
}

#informacionRegistro {
    text-align: center;
}

#camposObligatorios {
    font-size: 12px;
    color: #707070;
    text-align: left;
}

#contenedorInputsPersona {
    display: flex;
}

.requisito-registro {
    color: #C2371B;
    text-align: left;
    font-size: 12px;
    display: none;
}

.input-error {
    box-shadow: 0 0 3px #C2371B;
    border: 1px solid #C2371B;
}

#inputNombre, #inputApellidos {
    width: 50%;
}

#inputNombre {
    margin-right: 3px !important;
}

#inputApellidos {
    min-width: 0;
    margin-left: 3px !important;
}

#contenedorCheckContrasena, #contenedorCheckTerminos {
    margin: 2px 0;
    text-align: left;
}

#requisitosContrasena {
    text-align: left;
}

#requisitosContrasena ul li {
    margin-left: 15px;
    list-style: circle;
}

#contenedorCheckTerminos {
    margin-top: 6px;
}

#buttonCrearCuenta {
    margin: 6px 0;
    width: 82%;
    font-size: 20px;
    padding: 7px 0;
    border-radius: 6px;
    border-color: #88ab75;
    background-color: #88ab75;
    color: #f1f1f1;
}

/* Objeto barra de direcciones para las páginas del archivo */
.barra-direcciones {
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: 2px solid #313131;
}

.barra-direcciones #casa {
    height: 36px;
    padding-top: 18px;
    margin-left: 7px;
}

#sierraNombre {
    cursor: pointer;
}

#zonaNombre {
    cursor: pointer;
}

/* Objetos utilidades para las páginas de archivo */
#googleMap {
    width: 100%;
    height: 400px;
}

.contenedor-nav-info {
    display: flex;
    width: 100%;
}

#contenedorNavRegiones {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    width: 15%;
    box-shadow: 1px 0px 3px rgba(0,0,0,0.2), -1px 0px 3px rgba(0,0,0,0.2);
}

#navRegionesSuperior {
    display: flex;
    font-size: larger;
    font-weight: 700;
    padding-top: 5px;
    border-bottom: 1px solid #313131;
    padding-left: 3px;
    cursor: pointer;
}

#navRegionesSuperior:hover {
    background-color: #FFCC66;
}

#navRegionesSuperior::before {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    margin-right: 2px;
    content: '\f102';
}

.contenedor-nav-regiones ul li {
    font-size: medium;
}

.contenedor-nav-regiones ul li,
.nav-regiones-padre {
    padding-left: 7px;
    padding-right: 7px;
    color: #313131;
}

#regionActual {
    cursor: default;
    background-color: #FFCC66;
    padding-bottom: 3px;
}

#regionActual::after {
    content: '\f0d7';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: auto;
    order: 2;
}

#sectorActual {
    background-color: #FFCC66;
}

#submenuSeleccionado ul li {
    padding: 4px 7px;
}

#submenuSeleccionado ul li:hover {
    background-color: #FFCC66;
}

#listaSubmenu {
    cursor: pointer;
}

#sectorActual {
    cursor: default;
}

.nav-regiones-padre {
    display: flex;
    font-size: larger;
    font-weight: 700;
    padding-top: 5px;
}

.nav-regiones-padre::after {
    content: '\f0da';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: auto;
    order: 2;
}

.region-zona-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.region-zona-after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 7px;
    margin-left: 4px;
}

#submenuSeleccionado .nav-regiones-padre {
    background-color: #FFCC66;
}

#submenuSeleccionado .submenu-dropdown ul li {
    padding: 3px 0;
}

#submenuSeleccionado .submenu-dropdown ul li:hover,
.submenu-dropdown a:hover {
    background-color: #FFCC66;
}

#submenuSeleccionado .submenu-dropdown ul li a {
    margin-left: 10px;
}

#submenuSeleccionado .submenu-dropdown:not(.submenu-sierras) ul li a::before {
    content: '•';
    padding-right: 5px;
}

.submenu-sierras ul li a, .region-sector {
    display: inline-block;
}

.submenu-dropdown:not(.submenu-sierras),
.submenu-sierras ul li {
    cursor: pointer;
    position: relative;
}

.submenu-dropdown-oculto {
    display: none;
    position: relative;
    background-color: #ffffff;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 5px;
    margin-top: 0;
    margin-left: 0;
    width: 155px;
}

.submenu-dropdown-oculto ul li {
    padding: 5px;
}

.submenu-dropdown:not(.submenu-sierras):hover .submenu-dropdown-oculto,
.submenu-sierras ul li:hover .submenu-dropdown-oculto {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}

.submenu-dropdown-oculto ul li:hover {
    background-color: #FFCC66;
}

/* Objeto footer */
.footer {
    height: auto;
    flex-grow: 1;
    background-color: #24262b;
    padding: 30px 0;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-links h4 {
    margin-bottom: 25px;
    border-bottom: 2px solid #88ab75;
    padding-bottom: 5px;
    display: inline-block;
}

.footer-links h4 a {
    text-decoration: none;
    font-size: 20px;
    color: #bbbbbb;
    font-weight: 500;
    transition: all .3s ease;
}

.footer-links h4 a:hover {
    color: #ffffff;
    padding-left: 3px;
}
