/* hoja de estilos para sector.html */
.contenedor-info-sector {
    margin: 0 20px;
    width: 90%;
}

#tituloVias {
    text-align: left;
}

#infoSector {
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
}
