/* hoja de estilos para sierra.html */
.contenedor-info-sierra {
    width: 90%;
}

#tituloZonas {
    text-align: left;
    margin: 0 20px;
}

#infoSierra {
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
}