/* Hoja de estilos para zonas.html */
#contenedorSierras {
    display: grid;
    column-gap: 2.5rem;
    row-gap: 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
}

@media (min-width: 700px) {
    #contenedorSierras { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1080px) {
    #contenedorSierras { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1425px) {
    #contenedorSierras { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1850px) {
    #contenedorSierras {
        grid-template-columns: repeat(5, 1fr);
    }
}

.carta-sierra {
    background-color: #ffffff;
    max-width: 268px;
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;
}

.contenido-carta-sierra {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
}

.sierra-ref {
    cursor: pointer;
}

.nombre-sierra h2 {
    text-align: left;
    float: left;
}

.thumbnail {
    margin-top: 5px;
    width: 248px;
    height: auto;
    border-radius: 4px
}

.lista-zonas {
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elemento-lista-zona {
    padding-top: 8px;
}

.zona-ref {
    cursor: pointer;
}

.mas-zonas {
    font-weight: 600;
}

.mas-zonas:hover, .zona-ref:hover {
    text-decoration: underline;
}

.elemento-lista-zona a, details {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
